{% extends 'base.html.twig' %}

{% block body %}

  <h1>Listes des entreprises </h1>
 <div class="container">
      <div class="row">
        <div class="col-1">
          12 colonnes
        </div>
      </div>

      <div class="row">
        <div class="col-3 offset-2">
          entreprisesA
        </div>
        <div class="col-6">
          entreprisesB
        </div>
    </div>
{% endblock %}
{% block javascripts %}{% endblock %}
  