{% extends 'base.html.twig' %}

{% block body %}
    {% if app.request.attributes.get('_route') == '/entreprises' %}class="active"{% endif %}
    <h1>Cette page affichera la liste des entreprises proposant un stage
    </h1>
    {#<div class="container">
        <div class="row">
            <div class="col-12">
                12 colonnes
            </div>
        </div>

        <div class="row">
            <div class="col-3 offset-2">
                entreprisesA
            </div>
            <div class="col-6">
                entreprisesB
            </div>
        </div>#}
{% endblock %}
{% block javascripts %}{% endblock %}