<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/bootstrap.min.cass">

        <title>{% block title %}Liste des entreprises{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <h1>Liste des entreprises</h1>
        <link rel="stylesheet" href="monCss.css">

    <title>Bienvenue sur ProStage</title>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-1">
          12 colonnes
        </div>
      </div>

      <div class="row">
        <div class="col-3 offset-2">
          A
        </div>
        <div class="col-6">
          B
        </div>
    </div>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>