{% extends 'base.html.twig' %}

{% block title %} ProStage - Formation {{idFormation}} {% endblock %}

{% block body %}
    <h1>Cette page affichera des informations sur la formation {{idFormation}}</h1>
{% endblock %}