{% extends 'base.html.twig' %}

{% block body %}
<h1> Bienvenue sur ProStage </h1>
<p> Cette page présentera bientôt l'acceuil de l'application ProStage </p>
<ul>
  <li>
    <a href="{{path('entreprises')}}">Liste des entreprises</a>
  </li>
  <li>
    <a href="{{path('formations')}}">Liste des formations</a>
  </li>
  <li>
    <a href="{{path('stage',{id:1})}}">Stage</a>
  </li>
</ul>
{% endblock %}