{% extends 'base.html.twig' %}
{% block body %}
    <!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
                <title>
                    {% block title %}Liste stage{% endblock %}
                </title>
                {% block stylesheets %}{% endblock %}
            </head>
            <body>
                <h1>Cette page affichera la liste des stages</h1>
                {% block javascripts %}{% endblock %}
            </body>
        </html>
    {% endblock %}
