<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Stage {{idStage}}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <h1>Bienvenue sur le stage {{idStage}}</h1>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>

