{% extends 'base.html.twig' %}
{% block title %}  ProStage - Formations{% endblock %}

{% block titreslider1 %}
Liste des formations
{% endblock %}

{% block titreslider2 %}
Liste des formations
{% endblock %}

{% block body %}
<ul>
        {% for forma in formation %}
        <li> <a href="/formation/{{forma.id}}">{{ forma.libelle }} </a></li>
        {% endfor %}
</ul>
{% endblock %}
{% block javascripts %}{% endblock %}