{% extends 'base.html.twig' %}
{% block title %} ProStage - Entreprises {% endblock %}

{% block titreslider1 %}
Liste des entreprises
{% endblock %}

{% block titreslider2 %}
Liste des entreprises
{% endblock %}

{% block body %} 
<ul>
        {% for entrep in entreprise %}
        <li> <a href="/entreprise/{{entrep.id}}">{{entrep.nom}} </li> </a>
        {% endfor %}
         <a href="{{path('createEntreprise')}}">Créer entreprise</a>
</ul>
{% endblock %}